{% extends "base.htm" %}

{% block header_title %}主页{% end %}
{% block body %}
{% include "header.htm" %}
<div class="am-container">
    <div class="am-g">
        <div class="am-panel am-panel-default">
          <div class="am-panel-hd">
            <h3 class="am-panel-title">简书爬虫展示</h3>
              <h4 class="am-panel-title">总用户数: {{ total }}</h4>
          </div>
          <table class="am-table minos-list am-text-sm am-table-bordered am-table-hover am-scrollable-horizontal">
              <tr class="null am-primary">
                <td class="am-hide-sm-down">用户名</td>
                <td width="15%">粉丝数</td>
                  <td width="15%" class="am-text-center am-hide-sm-down">字数</td>
                  <td width="15%" class="am-text-center am-hide-sm-down">个人主页</td>
                  <td width="15%" class="am-text-center am-hide-sm-down">发表文章</td>
                <td width="15%" class="am-text-center am-hide-sm-down">收获喜欢</td>
                <td class="am-text-right" width="10%">关注</td>
              </tr>
              {% for user in users %}
              <tr class="row">
                <td class="am-link-muted am-hide-sm-down">{{ user['name'] }}</td>
                <td class="am-link-muted am-hide-sm-down">{{ user['fans'] }}</td>
                  <td class="am-link-muted am-hide-sm-down">{{ user['words'] }}</td>
                  <td class="am-link-muted am-hide-sm-down"><a href="{{ user['url'] }}">简书地址</a></td>
                  <td class="am-link-muted am-hide-sm-down">{{ user['articles'] }}</td>
                  <td class="am-link-muted am-hide-sm-down">{{ user['beliked'] }}</td>
                  <td class="am-link-muted am-hide-sm-down">{{ user['follows'] }}</td>
              </tr>
              {% end %}
          </table>
          <div class="am-panel-footer">
              {% raw pagenav(now = page, count = count, each = each, url = '/page/%d') %}
              <div class="am-cf"></div>
          </div>
        </div>
    </div>
</div>

{% end %}
{% block footer_static %}
{% end %}